*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1d5c2c;
  --secondary-color: #58453c;
  --light-color: #fafafa;
}

.container {
  background: 
    /* no-repeat 
    url("../img/food.jpg")  */
    var(--secondary-color);
  background-size: cover;
  color: var(--primary-color); 
  font-family: 'Neucha', cursive;
  letter-spacing: .2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  color: var(--light-color);
  font-size: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.p-1 {
  padding: .5rem 1rem;
}

.custom-select,
.input,
.btn {
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  box-shadow: 0 3px 2px var(--primary-color);
  color: var(--primary-color);
  font-family: 'Neucha', cursive;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .1rem;
  text-align: center;
  outline: none;
  width: 100%;
  padding: 1rem 2rem;
  transition: all .3s ease-in;
}

.btn:hover {
  background-color: var(--primary-color); 
  color: var(--light-color);
  cursor: pointer;
}

.btn:active {
  transform: scale(.9);
}

.alert {
  color: red;
  font-weight: 700;
  padding: .5rem 0;
  margin-bottom: 1rem;
  background: white;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

.version {
  text-align: center;
  font-size: 10px;
  color: var(--light-color);
}

.version a {
  text-decoration: none;
  cursor: pointer;
  color: var(--light-color);
}
